body {
  font-family: "Roboto", "Open Sans";
  margin: 0;
  padding: 0;
  color: white;
}

h1, h2, h3, h4, h5, h6{
  margin: 0 !important;
  font-weight: lighter;
}


header {
  width: 100%;
  height: 128px;
  background-color: white;
  & .center {
    padding-top: 20px;
    width: 100%;
    text-align: center;
    color: #01579b;
    transition: transform 0.4s ease-in-out;
    & i, .block {
      display: inline-block;
      cursor:pointer;
    }
    & .block h2, .block span{
      display: block;
      text-align: left;
    }
    & .block span.name{
      font-size: 14px !important;
    }
    & .block{
      transform: translate(0, -20px);
    }
    &:hover {
      transform: scale(1.2);
    }
  }
}

section{
  width: 100%;
  height: 200px;
  text-align: center;
  background-image: url('https://discordapp.com/assets/530280c4e76a27a6dd43c0ecabb96e7d.png');
  background-size: 300px 200px;
  overflow: hidden;
  &.discord{
    & img{
      margin-top: 10px;
    }
  }
  &.bd{
    & .logo{
      width: 230px;
      height: 95px;
    }
  }
}

.divider {
    height: 1px;
    overflow: hidden;
    background-color: white;
}

.tooltip-container {
  position: relative;
  & .tooltip{
    pointer-events: none;
    opacity: 0;
    z-index: 100;
    background-color: white;
    padding: 4px;
    width: auto;
    height: auto;
    position: absolute;
    border-radius: 3px;
    color: #01579b;
    transition: opacity 0.3s;
    &.left-0 {
      left: 0;
    }
    &.left-25{
      left: 25%;
    }
  }
  & .target{
    transition: transform 0.3s ease-in-out;
  }
  &:hover .target {
    transform: scale(1.1);
  }
  &:hover .tooltip{
    opacity: 1;
  }
}

a{
  color: white;
  text-decoration: none;
}

.material-icons {
  &.md-18 {
    font-size: 18px;
  }
  &.md-24 {
    font-size: 24px;
  }
  &.md-36 {
    font-size: 36px;
  }
  &.md-48 {
    font-size: 48px;
  }
  &.md-60 {
    font-size: 60px;
  }
  &.md-72 {
    font-size: 72px;
  }
  &.md-84 {
    font-size: 84px;
  }
  &.md-100{
    font-size: 100px;
  }
  &.md-dark {
    color: rgba(0, 0, 0, 0.54);
    &.md-inactive {
      color: rgba(0, 0, 0, 0.26);
    }
  }
  &.md-light {
    color: rgba(255, 255, 255, 1);
    &.md-inactive {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}
